.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.visulaizer-box {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 2px;
}

.item {
  background: rebeccapurple;
}

.top-part {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.speed {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 2rem;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid rebeccapurple;
  background: rebeccapurple;
  color: white;
}

button:hover {
  background: rgb(166, 86, 245);
  cursor: pointer;
}
